<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL OSS</title>
    <link rel="icon" href="{{ url_for('static',filename='img/logo.jpg')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager.css') }}" />
</head>

<body>
    <div class="names germany">
        <div class="name_container _5">
          <div class="name_container_name name"><span>{{first_name}} {{last_name}}</span></div>
        </div>
      </div>
    
    <div class="sections">
        <div class="section">Section 1</div>
        <div class="section">Section 2</div>
        <div class="section">Section 3</div>
        <div class="section">Section 4</div>
        <div class="section">Section 5</div>
        <div class="section">Section 6</div>
        <div class="section">Section 7</div>
        <div class="section">Section 8</div>
        <div class="section">Section 9</div>
    </div>
</body>
</html>